.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('https://images.saatchiart.com/saatchi/1773045/art/8987123/8050491-IPVESSYO-7.jpg');
    border-left: rgb(5, 5, 5);
    overflow: hidden;
  }
  
  .video-element {
    width: 1200px;
    height: 450px;
    filter: brightness(1.1);
  }