.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url('https://img.freepik.com/free-vector/seamless-pizza-ingredients_1176-269.jpg?w=740&t=st=1681472787~exp=1681473387~hmac=e7f9851b298f704a2a75e7fb6896d95522e85b9d3c49441b33223b92dc8637fc');
    border-left: rgb(5, 5, 5);
    overflow: hidden;
  }
  
  .video-element {
    width: 1200px;
    height: 450px;
    filter: brightness(1.1);
  }