
/*menu css------------------------------------------------------*/


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url('https://img.freepik.com/free-vector/seamless-pizza-ingredients_1176-269.jpg?w=740&t=st=1681472787~exp=1681473387~hmac=e7f9851b298f704a2a75e7fb6896d95522e85b9d3c49441b33223b92dc8637fc');
    padding: 20px;
  }
  
  .pizza {
    width: calc(20% - 12px);
    margin: 0 6px 12px 6px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change to flex-start */
    background-image: url('../public/img/plain-backdrop-decorative-gray-textured.jpg');
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    float: left;
    height: 420px;
  }
  
  .pizza-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Add this */
  }
  
  .name-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px; /* Set a fixed height */
    width: 100%; /* Set a fixed width */
    box-sizing: border-box;
    padding: 5px; /* Add padding */
  }
  
  
  .pizza:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
  }
  
  
  
  .pizza-img {
    position: cover;
    height: 180px;
    overflow: hidden;
  }
  
  .pizza-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pizza-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
  
  }
  
  
  .pizza-text {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .details {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out;
  }
  
  
  .details:hover {
    background-color: #2aa32a;
  }
  
  
  .pizza:nth-child(5n+1) {
    clear: left;
  }
  
  
  .pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pizza-card {
    width: 250px;
    margin: 10px;
    margin-left: auto;
    /* add this line */
  }
  
  @media only screen and (max-width: 250px) {
    .pizza-container {
      justify-content: flex-start;
    }
  }
  
  @media only screen and (max-width: 150px) {
    .pizza-container {
      justify-content: left;
    }
  }
  
  @media only screen and (max-width: 80px) {
    .pizza-container {
      justify-content: flex-start;
    }
  
    .pizza-card {
      margin-right: 0;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .pizza-container {
      justify-content: center;
    }
  }
  
  
  

  
  
  
  